@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    background-color: #1c0522;
    padding: 100px;
    font-family: 'Poppins',sans-serif;
    color: white;
    h2{
        font-size: 4rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    p{
        padding: 20px 0px;
    }
}